.button {
  background: rebeccapurple;
  color: white;
  padding: 0.3rem 1rem;
  font-size: large;
  border-style: groove;
  font-weight: 200;
  cursor: pointer;
  margin-top: 1rem;
}
.button:hover {
  background-color: blueviolet;
}

/* @media (min-width: 700px) {
  .button {
    width: auto;
  }
} */
